Projeto/XSD/chaoDeFabrica.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="https://bitbucket.org/1180842/lei_isep_2019_20_sem4_2dd_1180842_1161752_1170554_1181477/issues/38/p1-user-story-como-gestor-de-projeto-eu/ns/chaofabrica" xmlns:cdfab="https://bitbucket.org/1180842/lei_isep_2019_20_sem4_2dd_1180842_1161752_1170554_1181477/issues/38/p1-user-story-como-gestor-de-projeto-eu/ns/chaofabrica" xmlns:tns="https://bitbucket.org/1180842/lei_isep_2019_20_sem4_2dd_1180842_1161752_1170554_1181477/issues/38/p1-user-story-como-gestor-de-projeto-eu/ns/chaofabrica" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import schemaLocation="schema2.xsd" />

  <xs:element name="chaoDeFabrica" type="tns:chaoDeFabrica">

    <xs:key name="linhasDeProducaoKey">
      <xs:selector xpath="cdfab:linhasDeProducao/cdfab:linhaDeProducao" />
      <xs:field xpath="@identificador" />
    </xs:key>

    <xs:key name="depositosKey">
      <xs:selector xpath="cdfab:depositos/cdfab:deposito" />
      <xs:field xpath="@codigo" />
    </xs:key>

    <xs:key name="ordensDeProducaoKey">
      <xs:selector xpath="cdfab:ordensDeProducao/cdfab:ordemProducao" />
      <xs:field xpath="@identificador" />
    </xs:key>

    <xs:key name="maquinasKey">
      <xs:selector xpath="cdfab:maquinas/cdfab:maquina" />
      <xs:field xpath="@codigoInterno" />
    </xs:key>

    <xs:key name="materiaisKey">
      <xs:selector xpath="cdfab:materiais/cdfab:material" />
      <xs:field xpath="@codigoInternoMaterial" />
    </xs:key>

    <xs:key name="produtosKey">
      <xs:selector xpath="cdfab:produtos/cdfab:produto" />
      <xs:field xpath="@codigoUnico" />
    </xs:key>

    <xs:key name="categoriasKey">
      <xs:selector xpath="cdfab:categorias/cdfab:categoria" />
      <xs:field xpath="@codigoAlfanumericoCategoria" />
    </xs:key>

    <xs:key name="movimentosStockKey">
      <xs:selector xpath="cdfab:movimentosStock/cdfab:movimentoStock" />
      <xs:field xpath="@id" />
    </xs:key>

    <xs:key name="fichasDeProducaoKey">
      <xs:selector xpath="cdfab:fichasDeProducao/cdfab:fichaProducao" />
      <xs:field xpath="@uniqueVal" />
    </xs:key>


    

    <xs:keyref name="linhasDeProducaoRef" refer="cdfab:linhasDeProducaoKey">
      <xs:selector xpath="cdfab:maquinas/cdfab:maquina" />
      <xs:field xpath="linhaProducao" />
    </xs:keyref>
    <xs:keyref name="linhasDeProducaoRef2" refer="cdfab:linhasDeProducaoKey">
      <xs:selector xpath="cdfab:agendamentosDeProcessamento/cdfab:agendamentoDeProcessamento" />
      <xs:field xpath="linhaDeProducao" />
    </xs:keyref>
    <xs:keyref name="linhasDeProducaoKeyRef2" refer="cdfab:linhasDeProducaoKey">
      <xs:selector xpath="cdfab:notificacoesDeErroDeProcessamento/cdfab:notificacaoDeErroDeProcessamento" />
      <xs:field xpath="linhaDeProducao" />
    </xs:keyref>
    
    <xs:keyref name="depositosKeyRef1" refer="cdfab:depositosKey">
      <xs:selector xpath="cdfab:mensagens/cdfab:mensagemDeConsumo" />
      <xs:field xpath="deposito" />
    </xs:keyref>
    <xs:keyref name="depositosKeyRef2" refer="cdfab:depositosKey">
      <xs:selector xpath="cdfab:mensagens/cdfab:mensagemDeEntregaDeProducao" />
      <xs:field xpath="deposito" />
    </xs:keyref>
    <xs:keyref name="depositosKeyRef3" refer="cdfab:depositosKey">
      <xs:selector xpath="cdfab:mensagens/cdfab:mensagemDeEstorno" />
      <xs:field xpath="deposito" />
    </xs:keyref>
    <xs:keyref name="depositosKeyRef4" refer="cdfab:depositosKey">
      <xs:selector xpath="cdfab:movimentosStock/cdfab:movimentoStock" />
      <xs:field xpath="deposito" />
    </xs:keyref>

    <xs:keyref name="ordensDeProducaoKeyRef1" refer="cdfab:ordensDeProducaoKey">
      <xs:selector xpath="cdfab:mensagens/cdfab:mensagemInicioDeAtividade" />
      <xs:field xpath="ordemDeProducao" />
    </xs:keyref>
    <xs:keyref name="ordensDeProducaoKeyRef2" refer="cdfab:ordensDeProducaoKey">
      <xs:selector xpath="cdfab:mensagens/cdfab:mensagemFimDeAtividade" />
      <xs:field xpath="ordemDeProducao" />
    </xs:keyref>
    <xs:keyref name="ordensDeProducaoKeyRef3" refer="cdfab:ordensDeProducaoKey">
      <xs:selector xpath="cdfab:mensagens/cdfab:mensagemParagemForcada" />
      <xs:field xpath="ordemDeProducao" />
    </xs:keyref>
    <xs:keyref name="ordensDeProducaoKeyRef4" refer="cdfab:ordensDeProducaoKey">
      <xs:selector xpath="cdfab:mensagens/cdfab:mensagemRetomaDeAtividade" />
      <xs:field xpath="ordemDeProducao" />
    </xs:keyref>
    <xs:keyref name="ordensDeProducaoKeyRef5" refer="cdfab:ordensDeProducaoKey">
      <xs:selector xpath="cdfab:mensagens/cdfab:mensagemDeConsumo" />
      <xs:field xpath="ordemDeProducao" />
    </xs:keyref>
    <xs:keyref name="ordensDeProducaoKeyRef6" refer="cdfab:ordensDeProducaoKey">
      <xs:selector xpath="cdfab:mensagens/cdfab:mensagemDeProducao" />
      <xs:field xpath="ordemDeProducao" />
    </xs:keyref>
    <xs:keyref name="ordensDeProducaoKeyRef7" refer="cdfab:ordensDeProducaoKey">
      <xs:selector xpath="cdfab:mensagens/cdfab:mensagemDeEntregaDeProducao" />
      <xs:field xpath="ordemDeProducao" />
    </xs:keyref>
    <xs:keyref name="ordensDeProducaoKeyRef8" refer="cdfab:ordensDeProducaoKey">
      <xs:selector xpath="cdfab:mensagens/cdfab:mensagemDeEstorno" />
      <xs:field xpath="ordemDeProducao" />
    </xs:keyref>
    
    <xs:keyref name="maquinasKeyRef1" refer="cdfab:maquinasKey">
      <xs:selector xpath="cdfab:mensagens/cdfab:mensagemInicioDeAtividade" />
      <xs:field xpath="maquina" />
    </xs:keyref>
    <xs:keyref name="maquinasKeyRef2" refer="cdfab:maquinasKey">
      <xs:selector xpath="cdfab:mensagens/cdfab:mensagemFimDeAtividade" />
      <xs:field xpath="maquina" />
    </xs:keyref>
    <xs:keyref name="maquinasKeyRef3" refer="cdfab:maquinasKey">
      <xs:selector xpath="cdfab:mensagens/cdfab:mensagemParagemForcada" />
      <xs:field xpath="@maquina" />
    </xs:keyref>
    <xs:keyref name="maquinasKeyRef4" refer="cdfab:maquinasKey">
      <xs:selector xpath="cdfab:mensagens/cdfab:mensagemRetomaDeAtividade" />
      <xs:field xpath="maquina" />
    </xs:keyref>
    <xs:keyref name="maquinasKeyRef5" refer="cdfab:maquinasKey">
      <xs:selector xpath="cdfab:mensagens/cdfab:mensagemDeConsumo" />
      <xs:field xpath="maquina" />
    </xs:keyref>
    <xs:keyref name="maquinasKeyRef6" refer="cdfab:maquinasKey">
      <xs:selector xpath="cdfab:mensagens/cdfab:mensagemDeProducao" />
      <xs:field xpath="maquina" />
    </xs:keyref>
    <xs:keyref name="maquinasKeyRef7" refer="cdfab:maquinasKey">
      <xs:selector xpath="cdfab:mensagens/cdfab:mensagemDeEntregaDeProducao" />
      <xs:field xpath="maquina" />
    </xs:keyref>
    <xs:keyref name="maquinasKeyRef8" refer="cdfab:maquinasKey">
      <xs:selector xpath="cdfab:mensagens/cdfab:mensagemDeEstorno" />
      <xs:field xpath="maquina" />
    </xs:keyref>
    <xs:keyref name="maquinasKeyRef9" refer="cdfab:maquinasKey">
      <xs:selector xpath="cdfab:ordensDeProducao/cdfab:ordemProducao/cdfab:usosDeMaquina/cdfab:usoDeMaquina" />
      <xs:field xpath="maquina" />
    </xs:keyref>

    <xs:keyref name="produtosKeyRef1" refer="cdfab:produtosKey">
      <xs:selector xpath="cdfab:mensagens/cdfab:mensagemDeProducao" />
      <xs:field xpath="produto" />
    </xs:keyref> 
    <xs:keyref name="produtosKeyRef2" refer="cdfab:produtosKey">
      <xs:selector xpath="cdfab:mensagens/cdfab:mensagemDeEntregaDeProducao" />
      <xs:field xpath="produto" />
    </xs:keyref>
    <xs:keyref name="produtosKeyRef3" refer="cdfab:produtosKey">
      <xs:selector xpath="cdfab:ordensDeProducao/cdfab:ordemProducao" />
      <xs:field xpath="produto" />
    </xs:keyref>
    <xs:keyref name="produtosKeyRef4" refer="cdfab:produtosKey">
      <xs:selector xpath="cdfab:ordensDeProducao/cdfab:ordemProducao/cdfab:produtosProduzidos/cdfab:produtoProduzido" />
      <xs:field xpath="codigoUnicoProduto" />
    </xs:keyref>
    
    <xs:keyref name="movimentosStockKeyRef4" refer="cdfab:movimentosStockKey">
      <xs:selector xpath="cdfab:ordensDeProducao/cdfab:ordemProducao/cdfab:usosDeMaquina/cdfab:usoDeMaquina" />
      <xs:field xpath="movimentoStock" />
    </xs:keyref>
  </xs:element>
  

  <xs:complexType name="chaoDeFabrica">
    <xs:all>
      <xs:element name="mensagens" minOccurs="0"> <!-- TODO - tirar o minOccurs="0", ainda não implementado em código -->
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mensagemInicioDeAtividade" type="mensagemInicioDeAtividade" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="mensagemFimDeAtividade" type="mensagemFimDeAtividade" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="mensagemParagemForcada" type="mensagemParagemForcada" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="mensagemRetomaDeAtividade" type="mensagemRetomaDeAtividade" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="mensagemDeConsumo" type="mensagemDeConsumo" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="mensagemDeProducao" type="mensagemDeProducao" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="mensagemDeEntregaDeProducao" type="mensagemDeEntregaDeProducao" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="mensagemDeEstorno" type="mensagemDeEstorno" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="movimentosStock" minOccurs="0"> <!-- TODO - tirar o minOccurs="0", ainda não implementado em código -->
        <xs:complexType>
          <xs:sequence>
            <xs:element name="movimentoStock" type="movimentoStock" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="agendamentosDeProcessamento" minOccurs="0"> <!-- TODO - tirar o minOccurs="0", ainda não implementado em código -->
        <xs:complexType>
          <xs:sequence>
            <xs:element name="agendamentoDeProcessamento" type="agendamentoDeProcessamento" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="notificacoesDeErroDeProcessamento">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="notificacaoDeErroDeProcessamento" type="notificacaoDeErroDeProcessamento" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="linhasDeProducao">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="linhaDeProducao" type="linhaProducao" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="depositos">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="deposito" type="deposito" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="categorias">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="categoria" type="categoria" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="produtos">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="produto" type="produto" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="materiais">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="material" type="material" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="fichasDeProducao">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="fichaProducao" type="fichaDeProducao" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="maquinas">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="maquina" type="maquina" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ordensDeProducao">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ordemProducao" type="ordemProducao" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
</xs:schema>